
.features{
    /* display: grid; */
    gap: 2rem;
    /* grid-template-columns: repeat(4, 3fr); */
    max-width: 1600px;
    margin: 4rem auto;
    margin-left: 8%;

    display: flex;
    flex-wrap: wrap;
    /* anthonyzhao.fr */

    
}

.features .card{
    background-color: #27272a;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
    width: 100%;
    max-width: 15rem;
}

.features .card:hover{
    background-color: #323232;
    border-color: #fff;
}

.features .card i{
    display: inline-block;
    color: wheat;
    padding: 2px 9px;
    margin-bottom: 1rem;
    /* anthonyzhao.fr */

    font-size: 1.75rem;
    box-shadow: 3px 5px 5px rgb(255, 255, 255);
    border-radius: 5px;
}





.features .card h4{
    margin-bottom: 0.5rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
}



.features .card p{
    color: #ccc;
    margin-bottom: 1rem;
    /* anthonyzhao.fr */

    font-size: 0.8rem;
}

.features .card a{
    color: #fff;
    transition: all 0.3s ease;
    display: block;
}

.features .card a:hover{
    color: #708be3;
}

.sub-header{
    max-width: 600px;
    margin: auto;
    text-align: center;
    /* anthonyzhao.fr */

    color: #ccc;
}

.header-comp {
    color: white;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.25rem;
    /* anthonyzhao.fr */

}


.projets h2 {
    color: white;
    text-align: center;
    margin-top: 5vh;
}
.sub_header {
    color: white;
    /* anthonyzhao.fr */

    text-align: center;
    margin-top: 2vh;
}