.projets {

    height: 100%;
    min-height: 45vw;

}


.features {
    /* display: grid; */
    gap: 2rem;
    /* grid-template-columns: repeat(4, 3fr); */
    max-width: 83.333vw;
    margin: 4rem auto;
    /* margin-left: 8%; */

    display: flex;
    flex-wrap: wrap;
    justify-content: center
        /* anthonyzhao.fr */


}

.features .card {
    background-color: #27272a;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    width: 15rem;
    min-height: 15rem;

    /* max-width: 15rem; */

    cursor: pointer;
    /* anthonyzhao.fr */
}

.features a {
    text-decoration: none;
    /* color: #fff; */
}

.features .card:hover {
    background-color: #323232;
    border-color: #fff;
}

.features .card i {
    display: inline-block;
    color: wheat;
    padding: 2px 9px;
    margin-bottom: 1rem;
    /* anthonyzhao.fr */

    font-size: 1.75rem;
    box-shadow: 3px 5px 5px rgb(255, 255, 255);
    border-radius: 5px;

    transition: box-shadow 0.3s ease, border-radius 0.3s ease;

    overflow: hidden;
}





.features .card h4 {
    margin-bottom: 0.5rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
}



.features .card p {
    color: #ccc;
    margin-bottom: 1rem;
    /* anthonyzhao.fr */

    font-size: 0.8rem;
}

.features .card a {
    color: #fff;
    transition: all 0.3s ease;
    display: block;
}

.features .card a:hover {
    color: #708be3;
}

.sub-header {
    max-width: 600px;
    margin: auto;
    text-align: center;
    /* anthonyzhao.fr */

    color: #ccc;
}

.header-comp {
    color: white;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.25rem;
    /* anthonyzhao.fr */

}


.projets h2 {
    color: white;
    text-align: center;
    margin-top: 5vh;
}

.sub_header {
    color: white;
    /* anthonyzhao.fr */

    text-align: center;
    margin-top: 2vh;
}

/* Pop up */


.popup {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Couleur de fond semi-transparente */

    transition: opacity 0.3s ease;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;

    transition: transform 0.3s ease;
}

.popup button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    left: 93%;

    transition: background-color 0.3s ease;
}

.popup button:hover {
    background-color: #0056b3;
}

.cardContentImg {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    /* max-height: 10rem; */
}