body{
    background: linear-gradient(#141C26, #000000);
    margin: 0;
    height: 100wh;
    font-size: 16px;

}


.navBar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: white;
    font-family: "Roboto Mono", monospace;
    font-size: 16px;
    font-weight: lighter;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    transition: 0.6s;
    z-index: 1000;
    background: transparent;
    

}

.navBar.sticky{
    background: #000;
    padding: 20px 100px;
    -webkit-box-shadow:0px 0px 63px 47px rgba(209,245,255,1);
    -moz-box-shadow: 0px 0px 63px 47px rgba(209,245,255,1);
    box-shadow: 1em 1em 10em 0.1em rgba(110,199,224,.804);
    background: linear-gradient(#000,85%,rgba(110,199,224,.804));
}

.nav {
    margin-left: 20%;
}
.nav ul {
    display: flex;
    justify-content: center;
}

.nav ul li {
    list-style: none;
    margin: 0 10px;
    /* padding-left: 50px; */
}

.nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
}

.nav ul li a,
.nav ul li a:after,
.nav ul li a:before {
  transition: all .5s;
}
.nav ul li a:hover {
  color: #555;
}

.nav ul li a {
  position: relative;
}
.nav ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
.nav ul li a:hover:after,
.nav ul li.active a:after {
  width: 100%;
}

.button-85 {
    padding: 0.6em;
    border: none;
    outline: none;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 0 50%;
    width: 5rem;
    bottom: 130px;
}
.button-85 a {
    text-decoration: none;
    color: rgb(255, 255, 255);

    
}
  
.button-85:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
@keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
}
  
.button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.logo {
    position: absolute;
    right: 85%;
    left: 15%;
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
}

.rotating-letters {
    display: inline-block;
    
}




/* .nav ul li a:hover {
    color: #000000;
}

.nav ul li a.active {
    color: #000000;
} */

.profil{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Roboto Mono", monospace;
    font-size: 10px;
    font-weight: lighter;
    /* background-color: azure; */
    width: 50rem;
    height: 20rem;
    /* margin-left: 15%; */
    /* margin-right: 15%; */
    /* margin-top: 5%; */
    /* padding: 5px; */
    
}

.photo img{
    width: 20em;
    height: auto;
    margin-left: 10vh;
}





.profil p {
    font-size: 13px;
}

.profilEtPhoto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
    margin-bottom: 30vh;
    gap: 3rem;
    
}


#barreDeProgression {
    background-color: #1e353c;
    opacity: 1;
    /* margin: 20px; */
    width: 400px;
    height: 8px;
}

.test {
    background-color: #6ec7e0;
    width: 300px;
    height: 8px;
}




.Skills p {
    /* margin-left: 2rem; */
    color: white;
    font-weight: 700;
    margin: 0;
    margin-top: 20px;
}

.competence h2{
    color: white;
    /* margin-left: 2rem; */
    text-align: center;
    
}

.competence h3{
    color: white;
    /* margin-left: 2rem; */
    text-align: center;
}

.backend {
    margin-top: 2vh;
}

.intersection {
    background-color: #6ec7e0;
    /* width: 100px; */
    height: 7rem;
}

#competences {
    background-color: #000;
}

#competences h2 {
    margin-top: 0;
    padding: 5vh;
}

.skills-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 5vh 0;
}

.Skills {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    /* min-width: 10%; */
    /* background-color: #00ffd5; */
}

.cv {
    /* background-color: #00ffd5; */
    width: 47em;
}

.cv-img {
    width: 100%;
    height: auto;
    transition: filter 0.5s ease;
}

.download-button {
    position: relative;
    /* top: 50%; */
    bottom: 50%;
    left: 50%;
    /* z-index: 1; */
    transform: translate(-50%, -50%);
    background-color: #3498db; 
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: none;
    width:7.5em;
}