body{
    background: linear-gradient(#141C26, #000000);
    margin: 0;
    height: 100wh;
    font-size: 16px;
    overflow-x: hidden;
}


.navBar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: white;
    font-family: "Roboto Mono", monospace;
    font-size: 16px;
    font-weight: lighter;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    transition: 0.6s;
    z-index: 1000;
    background: transparent;
    

}

.navBar.sticky{
    background: #000;
    padding: 20px 100px;
    -webkit-box-shadow:0px 0px 63px 47px rgba(209,245,255,1);
    -moz-box-shadow: 0px 0px 63px 47px rgba(209,245,255,1);
    box-shadow: 1em 1em 10em 0.1em rgba(110,199,224,.804);
    background: linear-gradient(#000,85%,rgba(110,199,224,.804));
}

.nav {
    margin-left: 20%;
}
.nav ul {
    display: flex;
    justify-content: center;
}

.nav ul li {
    list-style: none;
    margin: 0 10px;
    /* padding-left: 50px; */
}

.nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
}

.nav ul li a,
.nav ul li a:after,
.nav ul li a:before {
  transition: all .5s;
}
.nav ul li a:hover {
  color: #555;
}

.nav ul li a {
  position: relative;
}
.nav ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
.nav ul li a:hover:after,
.nav ul li.active a:after {
  width: 100%;
}

/* CSS pour le menu hamburger */

.mobile-menu {
    display: none;
}

.menu-toggle {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1001;
}

.menu-toggle span {
    background-color: white;
    height: 3px;
    width: 30px;
    display: block;
    transition: 0.3s;
}

.mobile-nav.show {
    list-style: none;
    padding: 0;
    position: fixed;
    top: 80px;
    right: 0;
    width: 100%;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.mobile-nav {
    display: none;
}

.mobile-nav li {
    padding: 15px;
}

.mobile-nav a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.mobile-nav li a:hover {
    color: #555;
}




.button-85 {
    padding: 0.6em;
    border: none;
    outline: none;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 0 48%;
    width: 5rem;
    bottom: 130px;
}
.button-85 a {
    text-decoration: none;
    color: rgb(255, 255, 255);

    
}
  
.button-85:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ffffff,
      #fcf6f2,
      #dadada,
      #edf7e9,
      #9fa7a5,
      #ffffff
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
@keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
}
  
.button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.logo {
    position: absolute;
    right: 85%;
    left: 15%;
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
}

.rotating-letters {
    display: inline-block;
    
}




/* .nav ul li a:hover {
    color: #000000;
}

.nav ul li a.active {
    color: #000000;
} */

.profil{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: white;
    font-family: "Roboto Mono", monospace;
    font-size: 10px;
    /* font-weight: lighter; */
    /* background-color: azure; */
    width: 50rem;
    height: 100%;
    /* margin-left: 15%; */
    /* margin-right: 15%; */
    /* margin-top: 5%; */
    /* padding: 5px; */
    flex-direction: column;
    gap: 1rem;
}

.profil h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.profil h1 {
    font-size: 2.5em;
    color: #3498db;
}

.profil h2 {
    font-size: 5em;
    /* color: #3498db; */
}

.profil h3 {
    font-size: 2em;
    /* color: #3498db; */
}

.profil p {
    /* font-size: 1.5em; */
    /* color: #3498db; */
    font-weight: lighter;
}

.photo img{
    width: 20em;
    height: auto;
    margin-left: 10vh;
    border-radius: 10%;
}

.profil a {
    /* text-decoration: none; */
    color: #fff;
    font-size: 2em;
    
    

}

.profil i {
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
    transition: 0.3s;
}

.profil i:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

.reseau2 {
    position: relative;
    bottom: 60px;
    left: 60px;
}

.profil p {
    font-size: 13px;
}

.profilEtPhoto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
    margin-bottom: 30vh;
    gap: 3rem;
    
}


.intersection h2 {
    color: white;
    text-align: center;
    padding-top: 2em;
}

#barreDeProgression {
    background-color: #1e353c;
    opacity: 1;
    /* margin: 20px; */
    width: 400px;
    height: 8px;
}

.test {
    background-color: #6ec7e0;
    width: 300px;
    height: 8px;
}

.htmlprogress {
    background-color: #6ec7e0;
    width: 375px;
    height: 8px;
}

.cssprogress {
    background-color: #6ec7e0;
    width: 350px;
    height: 8px;
}

.BootstrapProgress {
    background-color: #6ec7e0;
    width: 200px;
    height: 8px;
}

.JavaScriptProgress {
    background-color: #6ec7e0;
    width: 300px;
    height: 8px;
}

.TypeScriptProgress {
    background-color: #6ec7e0;
    width: 125px;
    height: 8px;
}

.ReactProgress {
    background-color: #6ec7e0;
    width: 150px;
    height: 8px;
}

.PhpProgress {
    background-color: #6ec7e0;
    width: 175px;
    height: 8px;
}

.SqlProgress {
    background-color: #6ec7e0;
    width: 275px;
    height: 8px;
}

.PostgreSQLProgress {
    background-color: #6ec7e0;
    width: 300px;
    height: 8px;
}

.PythonProgress {
    background-color: #6ec7e0;
    width: 320px;
    height: 8px;
}

.nodeProgress {
    background-color: #6ec7e0;
    width: 150px;
    height: 8px;
}

.DockerProgress {
    background-color: #6ec7e0;
    width: 175px;
    height: 8px;
}

.WordPressProgress {
    background-color: #6ec7e0;
    width: 190px;
    height: 8px;
}

.PrestaShopProgress {
    background-color: #6ec7e0;
    width: 100px;
    height: 8px;
}
.DrupalProgress {
    background-color: #6ec7e0;
    width: 100px;
    height: 8px;
}
.ShopifyProgress {
    background-color: #6ec7e0;
    width: 100px;
    height: 8px;
}

.GitProgress {
    background-color: #6ec7e0;
    width: 300px;
    height: 8px;
}

.GitHubProgress {
    background-color: #6ec7e0;
    width: 300px;
    height: 8px;
}

.VsCodeProgress {
    background-color: #6ec7e0;
    width: 375px;
    height: 8px;
}

.FigmaProgress {
    background-color: #6ec7e0;
    width: 260px;
    height: 8px;
}

.PhotoShopProgress {
    background-color: #6ec7e0;
    width: 170px;
    height: 8px;
}
.Skills p {
    /* margin-left: 2rem; */
    color: white;
    font-weight: 700;
    margin: 0;
    margin-top: 20px;
}

.competence h2{
    color: white;
    /* margin-left: 2rem; */
    text-align: center;
    
}

.competence h3{
    color: white;
    /* margin-left: 2rem; */
    text-align: center;
}

.backend {
    margin-top: 2vh;
}

.intersection {
    background-color: #6ec7e0;
    /* width: 100px; */
    height: 7rem;
}

#competences {
    background-color: #000;
}

#competences h2 {
    margin-top: 0;
    padding: 5vh;
}

.skills-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 5vh 0;
}

.Skills {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    /* min-width: 10%; */
    /* background-color: #00ffd5; */
}

.cv {
    /* background-color: #00ffd5; */
    width: 47em;
}

.cv-img {
    width: 100%;
    height: auto;
    transition: filter 0.5s ease;
}

.download-button {
    position: relative;
    /* top: 50%; */
    bottom: 50%;
    left: 50%;
    /* z-index: 1; */
    transform: translate(-50%, -50%);
    background-color: #3498db; 
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: none;
    width:7.5em;
}



.features{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 3fr);
    max-width: 1600px;
    margin: 4rem auto;
    margin-left: 8%;
}

.features .card{
    background-color: #27272a;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;

}

.features .card:hover{
    background-color: #323232;
    border-color: #fff;
}

.features .card i{
    display: inline-block;
    color: wheat;
    padding: 2px 9px;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    box-shadow: 3px 5px 5px rgb(255, 255, 255);
    border-radius: 5px;
}





.features .card h4{
    margin-bottom: 0.5rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
}



.features .card p{
    color: #ccc;
    margin-bottom: 1rem;
    font-size: 0.8rem;
}

.features .card a{
    color: #fff;
    transition: all 0.3s ease;
    display: block;
}

.features .card a:hover{
    color: #708be3;
}

.sub-header{
    max-width: 600px;
    margin: auto;
    text-align: center;
    color: #ccc;
}

.header-comp {
    color: white;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.25rem;
}


.projets h2 {
    color: white;
    text-align: center;
    margin-top: 5vh;
}
.sub_header {
    color: white;
    text-align: center;
    margin-top: 2vh;
}

.contact {
    color: white;
    font-family: "Roboto Mono", monospace;
    background-color: #364269;
    padding: 2em 0 2em 0;
    margin-top: 10em;

}

.information_personnelle {
    
    margin-left: 10em;
}

.contact h2 {
    color: white;
    text-align: center;
    margin-top: 5vh;
    
}

footer {
    /* background-color: #364269; */
    color: white;
    text-align: center;
    padding: 2em 0 2em 0;
    /* margin-top: 10em; */
    font-size: large;
}

@media only screen and (max-width: 1250px) {
    .logo {
        left: 10%;
        
    }
}

@media only screen and (max-width: 1302px) {
    .profil {
        width: 29rem;
    }
}


@media only screen and (max-width: 980px) {
    .mobile-menu {
        display: block;
    }

    .nav {
        display: none;
    }

    .profil {
        width: 25rem;
        margin-left: 15%;
        /* margin-right: 15%; */
    }
    
    .intersection, .competence, .contact {
        width: 64em;
    }

}

@media only screen and (max-width: 895px) {
    html {
        width: 60em;
    }
}


@media only screen and (max-width: 1440px) {
    .intersection, .competence, .contact {
        width: 92em;
    }
}

@media only screen and (max-width: 1024px) {
    html {
        width: 92em;
    }
}
@media only screen and (max-width: 768px) {
    .menu-toggle {
        right: 240px;
        top: 80px;
    }
    html {
        width: 90em;
    }
}

/* @media only screen and (max-width: 320px) {
    html {
        width: 75em;
    }
} */